<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysRoleMapper">
    <!--角色列表-->
    <resultMap id="SysRoleResultMap" type="SysRole">
        <id property="roleId" column="id" />
        <result property="name" column="name" />
        <result property="slug" column="slug" />
        <result property="scope" column="scope" />
        <result property="sort" column="sort" />
        <result property="status" column="status" />
        <result property="remark" column="remark" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
    </resultMap>

    <!--sql语句-->
    <sql id="selectRoleVo">
        select
            id,name,slug,scope,sort,status,remark,created_at,updated_at
        from
            sys_role
    </sql>


    <!--不分页列表-->
    <select id="selectRoleList" parameterType="SysRole" resultMap="SysRoleResultMap">
        <include refid="selectRoleVo" />
        <where>
            <if test="name != null and name != ''">
                AND name like concat('%', #{name}, '%')
            </if>
            <if test="slug != null and slug != ''">
                AND slug like concat('%', #{slug}, '%')
            </if>
        </where>
    </select>

    <!--查询所有角色列表-->
    <select id="selectAllRoleList" resultMap="SysRoleResultMap">
        <include refid="selectRoleVo"/>
    </select>

    <!--查询当前角色-->
    <select id="findRoleById" parameterType="Long" resultType="SysRole">
        <include refid="selectRoleVo"/>
        where
        id = #{id}
    </select>

    <!--查询当前用户的所有角色-->
    <select id="selectRoleListByUserId" parameterType="Long" resultType="SysRole">
        SELECT
            r.`id`,r.`name`,r.`slug`
        FROM
            sys_role r
        LEFT JOIN
            sys_role_user ru ON ru.`role_id` = r.`id`
        LEFT JOIN
            sys_user u ON u.id = ru.`user_id`
        WHERE
            u.id = #{id}
    </select>

    <!--查询当前角色的权限-->
    <select id="selectPermsByRoleId" parameterType="Long" resultType="java.lang.String"><![CDATA[
        SELECT
            distinct p.slug
        FROM
            `sys_permission` p
        LEFT JOIN
            sys_role_permission rp ON rp.`permission_id`=p.`id`
        LEFT JOIN
            sys_role r ON r.`id`=rp.`role_id`
        WHERE
            r.id=  #{roleId}
    ]]></select>

    <!--插入角色-->
    <insert id="insertRole" parameterType="SysRole" useGeneratedKeys="true" keyProperty="id">
        insert into sys_role (
            <if test="id != null and id != 0">id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="slug != null and slug != ''">slug,</if>
            <if test="scope != null and scope != ''">scope,</if>
            <if test="status != null and status != 0">status,</if>
            <if test="sort != null and sort != 0">sort,</if>
            <if test="remark != null and remark != ''">remark,</if>
            created_at,
            updated_at
        ) values (
            <if test="id != null and id != 0">#{id},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="slug != null and slug != ''">#{slug},</if>
            <if test="scope != null and scope != ''">#{scope},</if>
            <if test="status != null and status != 0">#{status},</if>
            <if test="sort != null and sort != 0">#{sort},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            sysdate(),
            sysdate()
        )
    </insert>

    <!--更新-->
    <update id="updateRole">
        update sys_role
        <set>
            <if test="role.name != null and role.name != ''">name = #{role.name},</if>
            <if test="role.slug != null and role.slug != ''">slug = #{role.slug},</if>
            <if test="role.scope != null and role.scope != ''">scope = #{role.scope},</if>
            <if test="role.sort != null and role.sort != 0">sort = #{role.sort},</if>
            <if test="role.status != null">status = #{role.status},</if>
            <if test="role.remark != null">remark = #{role.remark},</if>
            updated_at = sysdate()
        </set>
        where id = #{id}
    </update>

    <!--删除单个角色-->
    <delete id="deleteRoleById" parameterType="Long">

    </delete>

    <!--删除多个角色-->
    <delete id="deleteRoleByIds">

    </delete>
</mapper>